/* Error: Undefined function.
 *     ,
 * 109 |         margin-top: math.div(-1 * $iconSize, 2);
 *     |                     ^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   src\main\webapp\resources\sass\theme\designer\components\button\_button.scss 109:21  @import
 *   src\main\webapp\resources\sass\theme\designer\_components.scss 8:9                   @import
 *   src\main\webapp\resources\sass\theme\_theme.scss 3:9                                 @import
 *   src\main\webapp\resources\primefaces-pandora-bluegrey\theme.scss 7:9                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined function.\a     \2577 \a 109 \2502          margin-top: math.div(-1 * $iconSize, 2);\a     \2502                      ^^^^^^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   src\\main\\webapp\\resources\\sass\\theme\\designer\\components\\button\\_button.scss 109:21  @import\a   src\\main\\webapp\\resources\\sass\\theme\\designer\\_components.scss 8:9                   @import\a   src\\main\\webapp\\resources\\sass\\theme\\_theme.scss 3:9                                 @import\a   src\\main\\webapp\\resources\\primefaces-pandora-bluegrey\\theme.scss 7:9                 root stylesheet";
}
